<div class="row mt-5" >
    <div class="col-md-6 m-auto">
      <div class="card-body text-center">
        <h1><i class="fab fas fa-brain fa-5x"></i></h1>
        <h1></h1>
           <div class="card border-dark mb-3" style="max-width: 20rem; float: right; width: 50%; margin: 55px -45px;">
                <div class="card-header">Instructor Registration</div>
                <div class="card-body">
                  <h4 class="card-title">Request Access</h4>
                  <p class="card-text">Lets improve your class participation.</p>
                 <a type="button" href="/users/register" class="btn btn-primary">Instructor</a>
                </div>
            </div>
            
            <div class="card border-primary mb-3 bg-dark text-white" style="max-width: 20rem; float: left; width: 50%; margin: 55px -45px;">
                <div class="card-header">Student Registration</div>
                <div class="card-body">
                  <h4 class="card-title">Become Anonymous</h4>
                  <p class="card-text">We provide the tools to get you involved in class.</p>
                  <a type="button" href="/users/register" class="btn btn-secondary btn-info">Student</a>
                </div>
            </div>
            <div style="margin-top: 360px;">
                <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
            </div>
      </div>
    </div>
  </div>